<div class="container-fluid">
  <div class="row mar-top-first">
    <div class="col-md-12">
      <h4 class="main-heading">Order Filteration</h4>
    </div>
  </div>

  <div class="row mb-3" [formGroup]="filterForm">
    <div class="col" style="max-width: 200px">
      <label class="f-12">From:</label>
      <input type="date" class="form-control f-12" formControlName="fromDate" />
    </div>
    <div class="col" style="max-width: 200px">
      <label class="f-12">To:</label>
      <input type="date" class="form-control f-12" formControlName="toDate" />
    </div>
    <div>
      <label>&nbsp;</label>
      <button class="btn-sm btn-info btn btn-block f-12" (click)="filterOrdersFunc(filterForm.value)">Filter</button>
    </div>
    <div style="position: relative;
    left: 52%;
    top: 20px;">
        <form [formGroup]='searchForm'>
            <select  class='form-control' name='status' formControlName='status' (change)='searchOrder(searchForm.value)'>
              <option>
                pending
              </option>
              <option>
                completed
              </option>
              <option>
                cancelled
              </option>
            </select>
          </form>
    </div>
  </div>
 

  <div id="accordion">
    <div class="card" *ngFor="let orders of getOrdersRes?.response; let i = index">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#order-{{i}}">
          {{orders?.location}}
        </a>
        <span class="badge badge-info pl-2 pr-2 pt-1 pb-1 f-12 float-right">{{orders?.items[0]?.status | titlecase}}</span>
      </div>
      <div id="order-{{i}}" class="collapse" data-parent="#accordion" [ngClass]="{'show': i == 0}">
        <div class="card-body">
          <table class="order-table" *ngIf="orders?.items?.length > 0">
            <thead>
            <tr>
              <td>Order Date</td>
              <td>Order Name</td>
              <td>Quantity</td>
              <td>Payment</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let items of orders?.items">
              <td>{{items?.datetime | date: 'MMM d, y'}}</td>
              <td>{{items?.item_name}}</td>
              <td>{{items?.quantity}}</td>
              <td>{{items?.price}}</td>
            </tr>
            </tbody>
          </table>
          <span class="text-center d-block" *ngIf="getOrdersRes?.response?.length <= 0">
              No Items Found!
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
